.container {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 100px;
    opacity: 1 !important;
    z-index: 1;
    /* top: 10px;
    right: 10px; */

}

.text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: clamp(10px, 20px, 50px);
    color: #DFBBB1;
    opacity: 1 !important;
    z-index: 100;
    padding: 10px;
}